<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Task #41</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <main class="text-xl font-semibold">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-8 w-8 sticky top-5 left-5 bg-white text-black rounded-full cursor-pointer hover:scale-105 p-1"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        onclick="nextPage()"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15"
        ></path>
      </svg>
      <div class="flex justify-center">
        <div
          id="result"
          class="w-[1024px] px-2 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 place-items-stretch"
        >
          <div
            class="bg-cover bg-center rounded-lg bg-[url(https://cdn2.thecatapi.com/images/dbk.jpg)] h-64 sm:h-80"
          ></div>

          <!-- <div
            class="bg-cover bg-center rounded-lg bg-[url(https://cdn2.thecatapi.com/images/MTcxOTAyNA.gif)] h-64 sm:h-80"
          ></div>

          <div
            class="bg-cover bg-center rounded-lg bg-[url(https://cdn2.thecatapi.com/images/PnMkwd63w.jpg)] h-64 sm:h-80"
          ></div> -->
        </div>
      </div>
    </main>
  </body>
</html>
