<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Task #41</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <main class="text-xl font-semibold container mx-auto">
      <div class="flex justify-center">
        <div class="border py-4 px-8">
          <label for="order" class="text-gray-600 text-sm font-medium uppercase"
            >Order</label
          >
          <br />
          <select class="text-3xl bg-white" id="order" onChange="updateOrder()">
            <option class="bg-white text-black" value="RANDOM">Random</option>
            <option class="bg-white text-black" value="ASC">Ascending</option>
            <option class="bg-white text-black" value="DESC">Descending</option>
          </select>
        </div>

        <div class="border py-4 px-8">
          <label for="types" class="text-gray-600 text-sm font-medium uppercase"
            >Type</label
          >
          <br />
          <select class="text-3xl bg-white" id="types" onChange="update()">
            <option value="jpg,gif,png">All</option>
            <option value="jpg">Static</option>
            <option value="gif">Animated</option>
          </select>
        </div>

        <div class="border py-4 px-8">
          <label
            for="categories"
            class="text-gray-600 text-sm font-medium uppercase"
            >Choose a category:</label
          >
          <br />
          <select class="text-3xl bg-white" id="categories" onChange="update()">
            <option value="">None</option>
            {{range .Categories}}
            <option value="{{.Id}}">{{.Name}}</option>
            {{end}}
          </select>
        </div>

        <div class="border py-4 px-8">
          <label
            for="breed_id"
            class="text-gray-600 text-sm font-medium uppercase"
            >Choose a breed:</label
          >
          <br />
          <select class="text-3xl bg-white" id="breed_id" onChange="update()">
            <option value="">None</option>
            {{range .Breeds}}
            <option value="{{.Id}}">{{.Name}}</option>
            {{end}}
          </select>
        </div>

        <div class="border py-4 px-8">
          <label for="limit" class="text-gray-600 text-sm font-medium uppercase"
            >Per Page</label
          >
          <br />
          <select class="text-3xl bg-white" id="limit" onChange="update()">
            <option value="9">9</option>
            <option value="18">18</option>
            <option value="80">80</option>
          </select>
        </div>
      </div>
    </main>
  </body>
</html>
